#canvas {
    width: 1000px;
    height: 1000px;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
/*  border: 1px black solid;*/
}

.ripple {
    position: absolute;
    /*border: 1px red solid;*/
    height: 200px;
    width: 200px;
}

.circle {
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

