#canvas {
	width: 500px;
	height: 500px;
	border: 1px black solid;
	margin: 0 auto;
	position: relative;
}

.circle {
	width: 30px;
	height: 30px;
	background-color: black;
	border-radius: 400px;
	position: absolute;
} 